[include]
	path = .gitconfig.os

# This is Git's per-user configuration file.
[user]
	name = Akira Noda
	email = 61897166+tsugumi-sys@users.noreply.github.com
# Please adapt and uncomment the following lines:
#	name = Akira Noda
#	email = akira.noda@onecareer.jp
[pull]
	rebase = false

[core]
    pager = delta
	editor = hx

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
	side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
  tool = difftastic

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[pager]
  difftool = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
