[include]
	path = .gitconfig.os

# This is Git's per-user configuration file.
[user]
	name = tsugumi-sys
	email = tidemark0105@gmail.com
# Please adapt and uncomment the following lines:
#	name = Akira Noda
#	email = akira.noda@onecareer.jp
[pull]
	rebase = false

[core]
    pager = delta
	editor = hx

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
	side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
  tool = difftastic

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[pager]
  difftool = true
